oss2
altgraph
certifi
charset-normalizer
future
idna
macholib
numpy
openpyxl
pandas
pymysql
python-dateutil
pytz
requests
setuptools
six
tzdata
urllib3
wheel
uv
duckdb
cffi
cryptography
defusedxml
et-xmlfile
lxml
pdf2image
pdfminer-six
pdfplumber
pillow
pycparser
pypdf
pypdfium2
markdownify
